<div class="footer" style="background: url(assets/img/footer/footer_img.jpg);">
    <div class="container-fluid">
        <div class="row py-5" style="background-color: #000000bd;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="text-uppercase text-white font-weight-bold">Follow Us</h6>
                            </div>
                            <div class="col-md-12">
                                <ul class="social-network">
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Linkedin"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoInstagram" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" class="icoYoutube" title="Linkedin"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-md-right text-sm-right text-lg-right text-xl-right">
                        <a class="nav-link btn btn-outline-secondary px-4 text-white text-uppercase" href="#">Contact Us</a>
                    </div>
                </div>
                <hr class="hr-1 mt-5 mb-5">

                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <img src="assets/img/main/logo-white.png" class="img-fluid" width="200">
                            </div>
                            <div class="col-md-12 mb-2">
                                <span class="fa fa-phone text-maroon mr-3 vertical-text-bottom"></span><small class="text-white">Mobile </small><small class="text-white ml-4">:</small><small class="text-white ml-4">+974 1234 5678</small>
                            </div>
                            <div class="col-md-12 mb-2">
                                <span class="fa fa-envelope text-maroon mr-3 vertical-text-bottom"></span><small class="text-white">Mail </small><small class="text-white ml-4">:</small><small class="text-white ml-4">xyz@xyz.com</small>
                            </div>
                            <div class="col-md-12">
                                <span class="fa fa-address-book text-maroon mr-3 vertical-text-bottom"></span><small class="text-white">Address </small><small class="text-white ml-4">:</small><small class="text-white ml-4">Musheireb, Metro Station</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 mt-2">
                                <h5 class="text-uppercase"><span class="text-white">Quick</span><span class="text-maroon"> Links</span></h5>
                            </div>
                            <div class="col-md-12">
                                <ul class="pl-1 list-unstyled">
                                    <li><a href="#" class="text-white">Properties</a></li>
                                    <li><a href="#" class="text-white">Apartments</a></li>
                                    <!-- <li><a href="#" class="text-white">Our Agents</a></li> -->
                                    <li><a href="/about" class="text-white">About Us</a></li>
                                    <li><a href="#" class="text-white">Our Location</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/img/footer/map.PNG" class="img-fluid w-100">
                    </div>
                </div>
                <hr class="hr-1 mt-5 mb-3">
                <div class="row">
                    <div class="col-md-4">

                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item text-white">Copyright &copy; 2020 All Rights Reserved</li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group list-group-horizontal flex-row-reverse">
                            <li class="list-group-item"><a href="/contact" class="text-white text-uppercase text-small">Contact</a></li>
                            <!-- <li class="list-group-item"><a href="#" class="text-white text-uppercase text-small">Agents</a></li> -->
                            <!-- <li class="list-group-item"><a href="#" class="text-white text-uppercase text-small">Listings</a></li> -->
                            <li class="list-group-item"><a href="#" class="text-white text-uppercase text-small">Properties</a></li>
                            <li class="list-group-item"><a href="/about" class="text-white text-uppercase text-small">About Us</a></li>
                            <li class="list-group-item"><a href="/" class="text-maroon text-uppercase text-small">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
