
<div class="cotainer-fluid mx-auto" style="width: 95%">
    <div class="row mb-5">
        <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
            <div class="card">
                <div class="card-heading text-center">
                    <img src="assets/img/home/hotels_qatar.jpg" class="img-fluid w-100">
                </div>
                <div class="card-body">
                    <h6 class="text-uppercase">{{"Hotel" | translate}}</h6>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="mb-0">{{'Fereej Bin Mahmoud' | translate}}, {{'QATAR'|translate}}</p>
                                </div>
                                <div class="col-md-12">
                                    <p class="mb-0">Call: (+974) 1234 5678</p>
                                </div>
                                <div class="col-md-12">
                                    <span class="fa fa-star starChecked"></span>
                                    <span class="fa fa-star starChecked"></span>
                                    <span class="fa fa-star starChecked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-xs-12 col-sm-4 col-md-4 border-left-maroon">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="mb-0 text-maroon">QAR 1000</p>
                                </div>
                                <div class="col-md-12" sty>
                                    <p class="mb-0" style="text-decoration: line-through">QAR 1500</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
            <div class="card">
                <div class="card-heading text-center">
                    <img src="assets/img/home/hotels_qatar.jpg" class="img-fluid w-100">
                </div>
                <div class="card-body">
                    <h6 class="text-uppercase">{{"Hotel" | translate}}</h6>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="mb-0">{{'Fereej Bin Mahmoud' | translate}}, {{'QATAR'|translate}}</p>
                                </div>
                                <div class="col-md-12">
                                    <p class="mb-0">Call: (+974) 1234 5678</p>
                                </div>
                                <div class="col-md-12">
                                    <span class="fa fa-star starChecked"></span>
                                    <span class="fa fa-star starChecked"></span>
                                    <span class="fa fa-star starChecked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-xs-12 col-sm-4 col-md-4 border-left-maroon">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="mb-0 text-maroon">QAR 1000</p>
                                </div>
                                <div class="col-md-12" sty>
                                    <p class="mb-0" style="text-decoration: line-through">QAR 1500</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
            <div class="card">
                <div class="card-heading text-center">
                    <img src="assets/img/home/hotels_qatar.jpg" class="img-fluid w-100">
                </div>
                <div class="card-body">
                    <h6 class="text-uppercase">{{"Hotel" | translate}}</h6>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8">
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <p class="mb-0">{{'Fereej Bin Mahmoud' | translate}}, {{'QATAR'|translate}}</p>
                                </div>
                                <div class="col-md-12">
                                    <p class="mb-0">Call: (+974) 1234 5678</p>
                                </div>
                                <div class="col-md-12">
                                    <span class="fa fa-star starChecked"></span>
                                    <span class="fa fa-star starChecked"></span>
                                    <span class="fa fa-star starChecked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-xs-12 col-sm-4 col-md-4 border-left-maroon">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="mb-0 text-maroon">QAR 1000</p>
                                </div>
                                <div class="col-md-12" sty>
                                    <p class="mb-0" style="text-decoration: line-through">QAR 1500</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>