<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner text-center">
        <div class="carousel-item active">
            <div class="d-flex align-items-center justify-content-center" style="background: url(assets/img/home/background.jpg); height: 75vh;">
                <div class="container">
                    <div class="col-md-12">
                        <h1 class="text-uppercase"><span class="text-white">{{'IDEAL' | translate}}</span></h1>
                    </div>
                    <div class="col-md-12">
                        <h1 class="text-uppercase"><span class="text-gold">{{'property' | translate}}</span><span class="text-white"> {{'WITH_US' | translate}}</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row mb-5 mt-5">
                    <div class="col-md-12 text-center">
                        <h2 class="text-uppercase font-weight-bold">{{'intro' | translate}}</h2>
                        <!-- <h5>Subtitle</h5> -->
                        <p class="text-justify mt-4 mb-4">{{'intro_text' | translate}}</p>
                    </div>
                </div>

                <div class="row mb-5 mt-5">
                    <div class="col-md-12 text-center">
                        <h2 class="text-uppercase font-weight-bold">{{'chairman' | translate}}</h2>
                        <!-- <h5>Subtitle</h5> -->
                        <h4 class="text-center mt-4 mb-4"><i>{{'chairman_msg' | translate}}</i></h4>
                        <p class="text-center mt-4 mb-4">{{'chairman_name' | translate}}</p>

                    </div>
                </div>

                <div class="row mb-5 mt-5">
                    <div class="col-md-12 text-center">
                        <h2 class="text-uppercase font-weight-bold">{{'vision' | translate}}</h2>
                        <!-- <h5>Subtitle</h5> -->
                        <p class="text-center mt-4 mb-4">{{'vision_msg' | translate}}</p>

                    </div>
                </div>

                <div class="row mb-5 mt-5">
                    <div class="col-md-12 text-center">
                        <h2 class="text-uppercase font-weight-bold">{{'values' | translate}}</h2>
                        <!-- <h5>Subtitle</h5> -->
                        <p class="text-center mt-4 mb-4">{{'values_text' | translate}}</p>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

