
<div class="container my-4">
<form action="/action_page.php">
<div class="form-group">
    <label for="fname">First Name</label>
    <input type="text" class="form-control" id="fname" name="firstname">
</div>
<div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname" name="lastname">
</div>
<div class="form-group">
    <label for="mail">Email</label>
    <input type="email" class="form-control" id="email" name="email">
</div>
    <div class="form-group">
    <label for="subject">Subject</label>
    <textarea id="subject" class="form-control" name="subject" rows='8'></textarea>
</div>
    <input type="submit" class="btn btn-success text-white " value="Submit">
  </form>
</div>