<div class="wrapper m-0 py-4">
    <div class="container my-4">
    <form>
    <div class="form-group">
        <label for="mail">{{'email' | translate}}</label>
        <input type="email" class="form-control my-2" id="email" name="email" ng-model = "email" required>
 
        <input type="submit" class="btn btn-dark text-light" ng-click = "forgotpassword()" value="{{'Submit' | translate}}">
      </form>
      <div ng-if="errorMessage" style="color:red">{{ errorMessage }}</div>
    </div>
    </div>