<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner text-center">
        <div class="carousel-item active">
            <div class="d-flex align-items-center justify-content-center" style="background: url(assets/img/home/banner-img.jpg); height: 75vh;">
                <div class="container">
                    <div class="col-md-12">
                        <h1 class="text-uppercase"><span class="text-white">{{'IDEAL' | translate}}</span></h1>
                    </div>
                    <div class="col-md-12">
                        <h1 class="text-uppercase"><span class="text-gold">{{'property' | translate}}</span><span class="text-white"> {{'WITH_US' | translate}}</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container" >
    <div class="row" style="margin-top: -50px;">
        <div class="col-md-12">
            <div class="jumbotron bg-maroon py-4">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-row text-white">
                                <div class="form-group search_options col-sm-6 col-md-2">

                                    <label for="Location">Municipality</label>
                                   
                                    <select class="form-control" id="location" placeholder="Select Municipality" ng-model="municipality_id" ng-change="change()" ng-options="x.display_name for x in municipality">

                                    <option value="">Search in Municipality</option>
                                    </select>
                                </div>
                                <div class="form-group search_options col-sm-6 col-md-2">

                                    <label for="Location">Area</label>
                                    
                                    <select class="form-control" id="location" placeholder="Select City" ng-model="location_id" ng-options="x.display_name for x in location">

                                    <option value="">Search in Location</option>
                                    </select>
                                </div>
                                <div class="form-group search_options col-sm-6 col-md-2">

                         
                                    <label for="inputPassword4">Property Type</label>
                                    <select class="form-control" id="propertyType" placeholder="Property Type" ng-model="property_id" ng-options="x.display_name for x in property" ng-change="check_type()">
                                    <option value="">Type of Property</option>
                                    </select> </div>
                                <div class="form-group search_options col-sm-6 col-md-2">
                                    <label for="inputPassword4">No. of bedrooms</label>
                                    <select class="form-control" id="inputEmail4" placeholder="Email" ng-model="no_of_bed_rooms" ng-options="x for x in num_bedrooms">
                                    <option value="">No. of bedrooms</option>
                                    </select> </div>
                                <div class="form-group search_options col-sm-6 col-md-2">
                                    <label for="inputPassword4">Furniture</label>
                                    <select class="form-control" id="inputEmail4" placeholder="Email" ng-model="furniture" ng-options = "x for x in furniture_type">
                                      <option value="">Select Furniture Type</option>
                                    </select> </div>
                                <div class="form-group col-sm-12 col-md-2">
                                    <label for="inputPassword1" style="visibility: hidden">Password</label>
                                    <input type="button" class="form-control btn btn-gold text-white" id="inputPassword4" value="SEARCH" ng-click="searchItem()">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div> -->
<search-bar></search-bar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row mb-5 mt-5">
                    <div class="col-md-12 text-center">
                        <h2 class="text-uppercase font-weight-bold">{{'we_are_realestate' | translate}}</h2>
                        <!-- <h5>{{"SUBTITLE" | translate}}</h5> -->
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-md-5 offset-md-1">
                        <h4 class="font-weight-bold mb-4">{{'about_aqa' | translate}}</h4>
                        <p class="text-justify mb-4 descrption">{{'about_content' | translate }}</p>
                        <!-- <p class="text-justify mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur dolore nihil neque blanditiis atque! Accusamus, ducimus ipsa. Ut facilis, sint voluptates, voluptatibus similique maxime fugiat earum natus, error veritatis qui.</p> -->

                        <a class="nav-link btn btn-maroon px-4 text-white text-uppercase" href="/about">{{'know_more' | translate}}</a>
                    </div>

                    <div class="col-md-5">
                        <img src="assets/img/home/about-img.PNG" class="img-fluid pt-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row bg-grey">
        <div class="col-md-12">
            <div class="container">
                <div class="row mb-5 mt-5">
                    <div class="col-md-12 text-center">
                        <h2 class="text-uppercase font-weight-bold">{{'Explore' | translate}}</h2>
                        <!-- <h5>Subtitle</h5> -->
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                        <div class="card">
                            <div class="card-heading text-center">
                                <img src="assets/img/home/sample-listing-img.PNG" class="img-fluid w-100">
                            </div>
                            <div class="card-body">
                                <h6 class="text-uppercase">THREE BEDROOM APARTMENT EZDAN</h6>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mb-0">Fereej Bin Mahmood, Qatar</p>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="mb-0">Call: (+974) 1234 5678</p>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-md-4 border-left-maroon">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mb-0 text-maroon">QAR 1000</p>
                                            </div>
                                            <div class="col-md-12" sty>
                                                <p class="mb-0" style="text-decoration: line-through">QAR 1500</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                        <div class="card">
                            <div class="card-heading text-center">
                                <img src="assets/img/home/sample-listing-img.PNG" class="img-fluid w-100">
                            </div>
                            <div class="card-body">
                                <h6 class="text-uppercase">THREE BEDROOM APARTMENT EZDAN</h6>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mb-0">Fereej Bin Mahmood, Qatar</p>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="mb-0">Call: (+974) 1234 5678</p>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-md-4 border-left-maroon">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mb-0 text-maroon">QAR 1000</p>
                                            </div>
                                            <div class="col-md-12" sty>
                                                <p class="mb-0" style="text-decoration: line-through">QAR 1500</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                        <div class="card">
                            <div class="card-heading text-center">
                                <img src="assets/img/home/sample-listing-img.PNG" class="img-fluid w-100">
                            </div>
                            <div class="card-body">
                                <h6 class="text-uppercase">THREE BEDROOM APARTMENT EZDAN</h6>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mb-0">Fereej Bin Mahmood, Qatar</p>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="mb-0">Call: (+974) 1234 5678</p>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-md-4 border-left-maroon">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mb-0 text-maroon">QAR 1000</p>
                                            </div>
                                            <div class="col-md-12" sty>
                                                <p class="mb-0" style="text-decoration: line-through">QAR 1500</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>