<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner text-center">
        <div class="carousel-item active">
            <div class="d-flex align-items-center justify-content-center" style="background: url(assets/img/home/banner-img.jpg); height: 75vh;">
                <div class="container">
                    <div class="col-md-12">
                        <h1 class="text-uppercase"><span class="text-white">FIND YOUR IDEAL</span><span class="text-gold"> APARTMENT</span></h1>
                    </div>
                    <div class="col-md-12">
                        <h1 class="text-uppercase"><span class="text-gold">FOR RENT</span><span class="text-white"> WITH US</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<search-bar></search-bar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row mb-5 mt-5">
                    <div class="col-md-12 text-center">
                        <h2 class="text-uppercase font-weight-bold">We are realestate</h2>
                        <h5>Subtitle</h5>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-md-5 offset-md-1">
                        <h4 class="font-weight-bold mb-4">About Aquaratk</h4>
                        <p class="text-justify mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam eius exercitationem sapiente! Ducimus unde aspernatur aperiam tenetur nostrum. Qui debitis sed rerum. Qui odit culpa tempore! Similique quos impedit quae?</p>
                        <p class="text-justify mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur dolore nihil neque blanditiis atque! Accusamus, ducimus ipsa. Ut facilis, sint voluptates, voluptatibus similique maxime fugiat earum natus, error veritatis qui.</p>

                        <a class="nav-link btn btn-maroon px-4 text-white text-uppercase" href="#">Know More</a>
                    </div>

                    <div class="col-md-5">
                        <img src="assets/img/home/about-img.PNG" class="img-fluid pt-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row bg-grey">
        <div class="col-md-12">
            <div class="container">
                <div class="row mb-5 mt-5">
                    <div class="col-md-12 text-center">
                        <h2 class="text-uppercase font-weight-bold">Recent Listings</h2>
                        <h5>Subtitle</h5>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                        <div class="card">
                            <div class="card-heading text-center">
                                <img src="assets/img/home/sample-listing-img.PNG" class="img-fluid w-100">
                            </div>
                            <div class="card-body">
                                <h6 class="text-uppercase">THREE BEDROOM APARTMENT EZDAN</h6>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mb-0">Fereej Bin Mahmood, Qatar</p>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-md-4 border-left-maroon">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mb-0 text-maroon">QAR 1000</p>
                                            </div>
                                            <div class="col-md-12" sty>
                                                <p class="mb-0" style="text-decoration: line-through">QAR 1500</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                        <div class="card">
                            <div class="card-heading text-center">
                                <img src="assets/img/home/sample-listing-img.PNG" class="img-fluid w-100">
                            </div>
                            <div class="card-body">
                                <h6 class="text-uppercase">THREE BEDROOM APARTMENT EZDAN</h6>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mb-0">Fereej Bin Mahmood, Qatar</p>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-md-4 border-left-maroon">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mb-0 text-maroon">QAR 1000</p>
                                            </div>
                                            <div class="col-md-12" sty>
                                                <p class="mb-0" style="text-decoration: line-through">QAR 1500</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                        <div class="card">
                            <div class="card-heading text-center">
                                <img src="assets/img/home/sample-listing-img.PNG" class="img-fluid w-100">
                            </div>
                            <div class="card-body">
                                <h6 class="text-uppercase">THREE BEDROOM APARTMENT EZDAN</h6>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mb-0">Fereej Bin Mahmood, Qatar</p>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star starChecked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-md-4 border-left-maroon">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="mb-0 text-maroon">QAR 1000</p>
                                            </div>
                                            <div class="col-md-12" sty>
                                                <p class="mb-0" style="text-decoration: line-through">QAR 1500</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>