<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner text-center">
        <div class="carousel-item active">
            <div class="d-flex align-items-center justify-content-center" style="background: url(assets/img/home/background.jpg); height: 75vh;">
                <div class="container">
                    <div class="col-md-12">
                        <h1 class="text-uppercase"><span class="text-white">{{'IDEAL' | translate}}</span></h1>
                    </div>
                    <div class="col-md-12">
                        <h1 class="text-uppercase"><span class="text-gold">{{'property' | translate}}</span><span class="text-white"> {{'WITH_US' | translate}}</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container w-100">
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-12">
            <div class="jumbotron bg-maroon py-4">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-row row text-white">
                                <div class="form-group search_options col-md-6 col-sm-6 col-xs-12">
                                    <label for="Location">{{'sell_or_rent' | translate}}</label>
                                     <select class="form-control" id="location" placeholder="Please Select" ng-model="type"  required>
                                     <option value="">{{'please_select' | translate}}</option>
                                     <option value = "Sell">{{'Sell' | translate}}</option>
                                     <option value = "Rent">{{'Rent' | translate}}</option>
                                     </select>
                                 </div>
                                <div class="form-group search_options col-md-6 col-sm-6 col-xs-12">
                                   <label for="Location">{{'municipality' | translate}}</label>
                                    <select class="form-control" id="location" placeholder="Select Municipality" ng-model="municipality_id" ng-change="change()" ng-options="x.display_name | translate for x in municipality" required>
                                    <option value="">{{'select_municipality' | translate}}</option>
                                    </select>
                                </div>
                                <div class="form-group search_options col-md-6 col-sm-6 col-xs-12">
                                    <label for="Location">{{'area' | translate}}</label>
                                    <select class="form-control" id="location" placeholder="Select Area" ng-model="location_id"  ng-options="x.display_name  | translate for x in location" required>
                                    <option value="">{{'select_area' | translate}}</option>
                                    </select>
                                </div>
                                <div class="form-group search_options col-md-6 col-sm-6 col-xs-12">
                                    <label for="inputPassword4">{{'property_type' | translate}}</label>
                                    <select class="form-control" id="propertyType" placeholder="Property Type" ng-model="property_id" ng-options="x.display_name | translate for x in property"required >
                                    <option value="">{{'type_of_property' | translate}}</option>
                                    </select> </div>
                                <div class="form-group search_options col-md-6 col-sm-6 col-xs-12">
                                    <label for="inputPassword4">{{'num_of_bed' | translate}}</label>

                                    <select class="form-control" id="inputEmail4" placeholder="Email" ng-model="no_of_bed_rooms" ng-options="x for x in num_bedrooms" required>

                                    <option value="">{{'bedroom_select' | translate}}</option>
                                    </select> </div>
                                <div class="form-group search_options col-md-6 col-sm-6 col-xs-12">
                                    <label for="inputPassword4">{{'furniture' | translate}}</label>
                                    <select class="form-control" id="inputEmail4" placeholder="Email" ng-model="furniture" ng-options = "x for x in furniture_type" required>

                                        <option value="">{{'select_furniture' | translate}}</option>
                                    </select> </div>
                                    <div class="form-group search_options col-md-6 col-sm-6 col-xs-12">
                                        <label for="username">{{'price' | translate}}</label>
                                        <input type="text" class="form-control" id="login_username" placeholder="{{'enter_price' | translate}}" name="username" ng-model="price" required>
                                    </div>
                                <div class="form-group col-sm-12 col-md-3">
                                        <label for="inputPassword4" style="visibility: hidden">Password</label>
                                        <input type = "file" file-model = "myFile" required/>
                                    </div> 
                                    <div class="form-group search_options col-md-6 col-sm-6 col-xs-12">
                                        <label for="username">{{'about_the_property' | translate}}</label>
                                        <textarea id="subject" class="form-control" name="subject" rows='8'  ng-model = "description" required></textarea>
                                    </div>   
                                <!-- <div class="col-sm-0 col-md-6"></div> -->
                                <div class="form-group col-sm-12 col-md-3 d-block ml-auto mr-0">
                                    <label for="inputPassword4" style="visibility: hidden">Password</label>
                                    <input type="button" class="form-control btn btn-gold text-white" id="post_property" value="{{'post' | translate}}" ng-click="postProperty()">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>