<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner text-center">
        <div class="carousel-item active">
            <div class="d-flex align-items-center justify-content-center" style="background: url(assets/img/home/background.jpg); height: 75vh;">
                <div class="container">
                    <div class="col-md-12">
                        <h1 class="text-uppercase"><span class="text-white">FIND YOUR IDEAL</span><span class="text-gold"> APARTMENT</span></h1>
                    </div>
                    <div class="col-md-12">
                        <h1 class="text-uppercase"><span class="text-gold">FOR RENT</span><span class="text-white"> WITH US</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container w-100">
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-12">
            <div class="jumbotron bg-maroon py-4">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-row row text-white">
                                <div class="form-group search_options col-md-6 col-sm-6 col-xs-12">
                                    <label for="Location">Muncipality</label>
                                    <select class="form-control" id="location" placeholder="Select City" ng-model="location" ng-options="x for x in districts">
                                    <option value="">Select area</option>
                                    </select>
                                </div>
                                <div class="form-group search_options col-md-6 col-sm-6 col-xs-12">
                                    <label for="inputPassword4">Property Type</label>
                                    <select class="form-control" id="propertyType" placeholder="Property Type" ng-model="propertyType" ng-options="x for x in property_type" ng-change="check_type()">
                                    <option value="">Type of Property</option>
                                    </select> </div>
                                <div class="form-group search_options col-md-6 col-sm-6 col-xs-12">
                                    <label for="inputPassword4">No. of bedrooms</label>
                                    <select class="form-control" id="bedrooms" placeholder="Email" ng-model="bedrooms" ng-options="x for x in num_bedrooms">
                                    <option value="">No. of bedrooms</option>
                                    </select> </div>
                                <div class="form-group search_options col-md-6 col-sm-6 col-xs-12">
                                    <label for="inputPassword4">Furniture</label>
                                    <select class="form-control" id="furnitureType" placeholder="Email" ng-model="furnitureType" ng-options = "x for x in furniture_type">
                                        <option value="">Select Furniture Type</option>
                                    </select> </div>
                                <div class="form-group col-sm-12 col-md-3">
                                        <label for="inputPassword4" style="visibility: hidden">Password</label>
                                        <input type="button" class="form-control btn btn-gold text-white" id="post_property" value="UPLOAD IMAGES" ng-click="addProperty()">
                                    </div>    
                                <!-- <div class="col-sm-0 col-md-6"></div> -->
                                <div class="form-group col-sm-12 col-md-3 d-block ml-auto mr-0">
                                    <label for="inputPassword4" style="visibility: hidden">Password</label>
                                    <input type="button" class="form-control btn btn-gold text-white" id="post_property" value="POST" ng-click="addProperty()">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>