<div class="container-fluid">
    <div class="row bg-maroon">
        <div class="col-md-12">
            <div class="container">
                <div class="row py-2" id="top_row">
                    <div class="col-xs-12 col-md-4">
                        <!-- <a href="#" data-toggle="modal" data-target="#loginModal" class="text-white text-uppercase"><small>Login</small></a> -->
                        <a href="#" data-toggle="modal" id="login_text" data-target="#loginModal" class="text-white"><small>{{'LOGIN'|translate}}</small></a>
                        <span class="text-white mx-3 vertical-text-bottom"><small>|</small></span>
                        <a href="#" data-toggle="modal" data-target="#registerModal" class="text-white text-uppercase"><small>{{'REGISTER' | translate}}</small></a>
                        <a href="#" ng-if="isloggedIn" ng-click="logout()" class="text-white text-uppercase"><small>Logout</small></a>
                    </div>
                    <div class="col-xs-12 col-md-8 text-md-right text-xs-left">
                        <span class="fa fa-phone text-white mr-2 vertical-text-bottom"></span><a href="tel:12345678" class="text-white text-uppercase mr-4"><small>(+974) 1234 5678</small></a>
                        <!-- <span class="fa fa-map-marker text-white mr-2 vertical-text-bottom"></span><small class="text-white">Westbay, Doha, {{'Qatar' | translate}}</small>
                        <span> -->
                       <!-- <small>
                             <select id="language" ng-model="langType" ng-options = "x.language for x in languages">
                                <option value=""></option>
                            </select> 
                        </small> -->
                        <small>
                        <div>
                            <button ng-click="changeLanguage('ar')" translate="{{'AR' | translate}}"></button>
                            <button ng-click="changeLanguage('en')" translate="EN"></button>
                          </div>
                        </small>
                        </span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="assets/img/main/logo.PNG" id="logo" class="img-fluid" width="200"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-uppercase">
                    <span class="mr-3"><small class="text-white border-bottom-maroon">&mdash;&mdash;&mdash;&mdash;</small></span>
                </li>
                <li class="nav-item text-uppercase">
                    <a class="nav-link" href="/">{{'Home' | translate}}</a>
                </li>
                <li class="nav-item text-uppercase">
                    <a class="nav-link" href="/about">{{'about_us' | translate}}</a>
                </li>
                <li class="nav-item dropdown text-uppercase">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{'Properties' | translate}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">{{'Residential' | translate}}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">{{'Commercial' | translate}}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">{{'Sell' | translate}}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">{{'Buy' | translate}}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">{{'Rent' | translate}}</a>
                    </div>
                </li>
                <li class="nav-item text-uppercase">
                    <a class="nav-link" href="/contact">{{'Contact' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-maroon px-4 text-white" href="/post">{{'post' | translate}} {{'property' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-gold px-4 text-white" href="#search">{{'search' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-maroon px-4 text-white" href="/required">{{'required' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Login Modal -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" ng-controller="loginController" >
    
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-maroon">
                <h5 class="modal-title text-center text-white">{{'Login' | translate}}</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="loginForm">
                    <div class="form-group">
                        <label for="username">{{'user_email' | translate}}*</label>
                        <input type="text" class="form-control" id="login_username" name="username" ng-model="user_name" required>
                    </div>
                    <div class="form-group">
                        <label for="password">{{'Password' | translate}}*</label>
                        <input type="password" class="form-control" id="login_password" name="password" ng-model="password" required>
                    </div>
                    <input class="btn btn-primary text-white" type="submit" name="login" value="{{'Login' | translate}}" ng-click="submitLogin()">
                    <a href="" ng-click = "forgetpassword()"><small><span class="pt-4 float-right">{{'forgot_pwd' | translate}}</span></small></a>
                </form>
                <div ng-if="errorMessage" style="color:red">{{ errorMessage }}</div>
            </div>
        </div>
    </div>
</div>


<!-- Register Modal -->

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" ng-controller="registerController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-maroon">
                <h5 class="modal-title  text-white text-center">{{'Register' | translate}}</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="registrationForm" >

                    <div class="form-group">
                        <div class="well danger">{{errorMessage}}</div>
                        <label for="username">{{'Username' | translate}}*</label>
                        <input type="text" class="form-control" id="username" name="username" ng-model="user_name" required>
                    </div>

                    <div class="form-group">
                        <label for="Email">{{'email' | translate}}*</label>
                        <input type="email" class="form-control" id="email" name="email" ng-model="email" required>
                    </div>

                    <div class="form-group">
                        <label for="Phone">{{'phone_num' | translate}}*</label>
                        <input type="number" class="form-control" id="phone_number" name="mobile" ng-model="mobile_number" required>
                    </div>
                    <div class="form-group">
                        <label for="name">{{'Name' | translate}}*</label>
                        <input type="name" class="form-control" id="name" name="name" ng-model="name" required>
                    </div>
                    <div class="form-group">
                        <label for="password">{{'Password' | translate}}*</label>
                        <input type="password" class="form-control" id="password" name="password" ng-model="password" required>
                    </div>
                    <input class="btn btn-dark text-white" type="submit" name="register" value="{{'Register' | translate}}" ng-click="submitRegister()">
                </form>
                <div ng-if="errorMessage" style="color:red">{{ errorMessage }}</div>
            </div>
        </div>
    </div>
</div>