<div class="container-fluid">
    <div class="row bg-maroon">
        <div class="col-md-12">
            <div class="container">
                <div class="row py-2">
                    <div class="col-xs-12 col-md-4">
                        <a href="#" data-toggle="modal" data-target="#loginModal" class="text-white text-uppercase"><small>Login</small></a> <span class="text-white mx-3 vertical-text-bottom"><small>|</small></span>
                        <a href="#" data-toggle="modal" data-target="#registerModal" class="text-white text-uppercase"><small>Register</small></a>
                    </div>
                    <div class="col-xs-12 col-md-8 text-md-right text-xs-left">
                        <span class="fa fa-phone text-white mr-2 vertical-text-bottom"></span><a href="tel:12345678" class="text-white text-uppercase mr-4"><small>(+974) 1234 5678</small></a>
                        <span class="fa fa-map-marker text-white mr-2 vertical-text-bottom"></span><small class="text-white">Westbay, Doha, Qatar</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="assets/img/main/logo.PNG" class="img-fluid" width="200"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-uppercase">
                    <span class="mr-3"><small class="text-white border-bottom-maroon">&mdash;&mdash;&mdash;&mdash;</small></span>
                </li>
                <li class="nav-item text-uppercase">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item text-uppercase">
                    <a class="nav-link" href="#">About us</a>
                </li>
                <li class="nav-item dropdown text-uppercase">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Properties
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Apartment</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Villa</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Villa Apartment</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Shared Accomodation</a>
                    </div>
                </li>
                <li class="nav-item text-uppercase">
                    <a class="nav-link" href="#">Listings</a>
                </li>
                <!-- <li class="nav-item text-uppercase">
                    <a class="nav-link" href="#">Agents</a>
                </li> -->
                <li class="nav-item text-uppercase">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item text-uppercase">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-maroon px-4 text-white" href="#!post">Post Property</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Login Modal -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" ng-controller="loginController" >
    
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-maroon">
                <h5 class="modal-title text-center text-white">Login</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="loginForm">
                    <div class="form-group">
                        <label for="username">Username or Email*</label>
                        <input type="text" class="form-control" id="login_username" name="username" ng-model="user_name" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password*</label>
                        <input type="password" class="form-control" id="login_password" name="password" ng-model="password" required>
                    </div>
                    <input class="btn btn-primary text-white" type="submit" name="login" value="Login" ng-click="submitLogin()">
                    <a href="#"><small><span class="pt-4 float-right">Forgot password</span></small></a>
                </form>
                <div ng-if="errorMessage" style="color:red">{{ errorMessage }}</div>
            </div>
        </div>
    </div>
</div>


<!-- Register Modal -->

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" ng-controller="registerController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-maroon">
                <h5 class="modal-title  text-white text-center">Register</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="registrationForm" >

                    <div class="form-group">
                        <div class="well danger">{{errorMessage}}</div>
                        <label for="username">Username*</label>
                        <input type="text" class="form-control" id="username" name="username" ng-model="user_name" required>
                    </div>

                    <div class="form-group">
                        <label for="Email">Email*</label>
                        <input type="email" class="form-control" id="email" name="email" ng-model="email" required>
                    </div>

                    <div class="form-group">
                        <label for="Phone">Phone Number*</label>
                        <input type="number" class="form-control" id="phone_number" name="mobile" ng-model="mobile_number" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Name*</label>
                        <input type="name" class="form-control" id="name" name="name" ng-model="name" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password*</label>
                        <input type="password" class="form-control" id="password" name="password" ng-model="password" required>
                    </div>
                    <input class="btn btn-dark text-white" type="submit" name="register" value="Register" ng-click="submitRegister()">
                </form>
                <div ng-if="errorMessage" style="color:red">{{ errorMessage }}</div>
            </div>
        </div>
    </div>
</div>